.landing-page-body {
    height: 100vh;
}

.NavBar nav{
    padding: 1rem;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.NavBar div{
    display: flex;
    flex-direction: row-reverse;
}


.NavBar a {
    color: white;
}
