html {
    height: 100%;
    font-family: monospace;
}

:root {
    --graph-bg: #000;
    --default-square-bg: #161d22;
    --level1: #016620;
    --level2-4: #109932;
    --level5-9: #28c244;
    --level10: #7fe18b;
}

.LandingPage {
    height: 100vh;
}

/* NavBar starts here */

.NavBar .navbar-brand{
    font-size: 2rem;
}

.NavBar nav{
    font-size: 2rem;
    padding: 2rem;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.NavBar div{
    display: flex;
    flex-direction: row-reverse;
}

.NavBar a {
    color: white;
}

/* Projects Page starts here */

.ProjectsPage {
    background-color: #212529;
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
}

.ProjectsPage h1{
    margin-bottom: 3rem;
}

.ProjectsPage .container {
    margin: 0;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.ProjectsPage .item {
    font-size: 1.5rem;
    width: 40%;
    display: inline;
    text-align: center;
}

.ProjectsPage .item a{
    text-decoration: none;
    color: white;
}

/* Consistency Tracker Page starts here */

.ConsistencyPage {
    margin: 0px;
    padding: 0px;
    background-color: #212529;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ConsistencyPage ul {
    padding: .3rem;
    list-style-type: none;
}

.ConsistencyPage .heading{
    margin: 0;
    text-align: center;
    color: white;
    font-size: 6em;
    flex-basis: 6em;
}

.ConsistencyPage .sub-heading {
    text-align: center;
    color: white;
}

.ConsistencyPage .graphLC {
    background: var(--graph-bg);
    display: flex;
    justify-content: center;
}

.ConsistencyPage .graphGH {
    background: var(--graph-bg);
    display: flex;
    justify-content: center;
}

.ConsistencyPage .square {
    width: 15px;
    height: 15px;
    background: var(--default-square-bg);
    margin: 3px 0;
    border-radius: 2px;
}

.ConsistencyPage [data-value="-1"] {
    opacity: 0;
}

.ConsistencyPage [data-value="0"] {
    background-color: var(--default-square-bg);
}

.ConsistencyPage [data-value="1"] {
    background-color: var(--level1);
}

.ConsistencyPage [data-value="2"] {
    background-color: var(--level2-4);
}

.ConsistencyPage [data-value="5"] {
    background-color: var(--level5-9);
}

.ConsistencyPage [data-value="10"] {
    background-color: var(--level10);
}